@charset "UTF-8";
@keyframes ani-common-fade-in {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
    }
}

button, label {
    overflow: visible;

    cursor: pointer;
}
button:disabled, input[type="radio"]:disabled, input[type="radio"]:disabled+label {
    filter: brightness(0.8);
    cursor: no-drop;
}
button:hover > .tag, label:hover > .tag {
    display: flex;
}

.invert-child {
    filter: brightness(0) invert(1);
}

.tag {
    display:none;

    color: var(--c-main-font);
    pointer-events: none;

    animation-name: ani-common-fade-in;
    animation-duration: 0.25s;
}

.rtag {
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    left: 62px;
    top: 9px;
    padding: 0 8px;
    overflow: visible;
    z-index: 2;

    width: max-content;
    height: 30px;

    border: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
.rtag::before {
    position: absolute;
    left: -20px;
    top: 4px;

    border: solid 10px;
    border-color: transparent var(--c-main-border) transparent transparent;
    content: "";
}

.ltag {
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    right: 62px;
    top: 9px;
    padding: 0 8px;
    overflow: visible;
    z-index: 2;

    width: max-content;
    height: 30px;

    border: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
.ltag::before {
    position: absolute;
    right: -20px;
    top: 4px;

    border: solid 10px;
    border-color: transparent transparent transparent var(--c-main-border);
    content: "";
}

#viewport-warn {
    display: none;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
    z-index: 999;

    width: 100vw;
    height: 100vh;
    line-height: 36px;

    font-size: 24pt;
    text-align: left;
    color: var(--c-white);
    background-color: var(--c-black);
}
@media screen and ( (max-width: 1100px) or (max-height: 600px)) {
    #viewport-warn {
        display: flex;
    }
}
#viewport-warn > button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-top: 14px;
    padding: 14px;

    color: var(--c-white);
    border: 0;
    border-bottom: solid 1px var(--c-white);
    background-color: var(--c-black);
}
#viewport-warn > button:hover {
    background-color: var(--c-lyra);
}
#viewport-warn > button > * {
    margin-left: 14px;

    filter: brightness(0) invert(1);
}
#viewport-warn > span {
    margin-top: 14px;

    line-height: 18px;

    color: var(--c-gray);
}

#top {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 49px;

    border-bottom: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
#top > *:not(:last-child) {
    border-right: solid 1px var(--c-main-border);
}
#top input[type=checkbox] {
    display: none;
}
#top button, #top label {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 14px;

    width: 49px;
    height: 48px;

    border: none;
    background-color: var(--c-main);
}
#top button:not(:disabled):hover, #top input[type=checkbox]:not(:disabled):hover+label {
    background-color: var(--c-lyra);
}
#top input[type=checkbox]:checked+label {
    background-color: var(--c-lyra);
}
#top input[type=checkbox]:checked+label > .i {
    filter: brightness(0) invert(1);
}

#logo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 14px;

    width: 193px;
    height: 100%;

    background-color: var(--c-lyra);
    cursor: pointer;
}
#logo > img {
    filter: brightness(0) invert(1);
}

#search-area {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    width: 401px;
    height: 100%;

    background-color: var(--c-main);
}
#search-area > .i {
    margin: 14px;
}

#search {
    flex: 1;
    width: 100%;
    height: 100%;

    font-family: "Spoqa Han Sans Neo";
    background-color: var(--c-main);
}
#search::placeholder {
    color: var(--c-gray);
    font-style: italic;
    opacity: 1;
}
#search, #search:focus {
    border: none;
    outline: none;
}

#name-area {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    min-width: 220px;
    width: max-content;
    height: 100%;
}
#name-area > .i {
    margin: 14px 10px;
}

#name-desc {
    position: absolute;
    left: 40px;

    line-height: 14px;

    color: var(--c-gray);
}

#name {
    display: flex;
    position: relative;
    padding-right: 14px;
    z-index: 1;

    min-width: 180px;
    width: auto;

    font-size: 18pt;
    background-color: var(--c-main);
}

#search-result-box {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 241px;
    top: 49px;
    z-index: 2;

    width: 402px;
    height: 450px;

    border: solid 1px var(--c-main-border);
    border-top: 0;
    background-color: var(--c-main);
}
#search-result-box > button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 14px;

    width: 100%;

    border: 0;
    border-top: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
#search-result-box > button:not(:disabled):hover {
    background-color: var(--c-lyra);
}
#search-result-box > button:not(:disabled):hover > * {
    filter: brightness(0) invert(1);
}

#search-result-placeholder {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */

    flex: 1;
    width: 100%;
    height: 100%;

    font-size: 14pt;
    background-color: var(--c-main);
}
#search-result-placeholder > img {
    margin-right: 14px;

    width: 48px;
}

#search-result-area {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    width: 400px;
    height: 400px;

    background-color: var(--c-main);
}
#search-result-area > *:not(:last-child) {
    border-bottom: solid 1px var(--c-main-border);
}

#button-search-fill-result {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 14px;

    width: 100%;

    border: 0;
    border-bottom: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
#button-search-fill-result > * {
    margin-right: 14px;
}
#button-search-fill-result:hover {
    color: var(--c-white);
    background-color: var(--c-lyra);
}
#button-search-fill-result:hover > * {
    filter: brightness(0) invert(1);
}

.search-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: auto;

    background-color: var(--c-main);
    cursor: pointer;
}
.search-item:hover {
    filter: brightness(0.8);
}
.search-item > .i {
    order: -1;
    margin: 14px;
}

#bottom {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    
    flex: 1;
    width: 100%;
    height: 100%;
}

#left {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: visible;

    width: 49px;
    height: 100%;

    border-right: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
#left > input[type="radio"], #left > input[type="checkbox"] {
    display: none;
}
#left > *:not(:last-child) {
    border-bottom: solid 1px var(--c-main-border);
}
#left > button, #left > label {
    width: 48px;
    height: 48px;
}
#left > button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 14px;

    border: 0;
    background-color: var(--c-main);
}
#left > label:hover, #left > button:hover, #left > #button-config:hover, #left > #button-preset:hover {
    background-color: var(--c-lyra);
}

.toolbar-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 12px;
    overflow: visible;
    
    background-color: var(--c-main);
}
#left > input[type="radio"]:checked+.toolbar-item, #left > input[type="checkbox"]:checked+.toolbar-item {
    background-color: var(--c-lyra);
}
#left > input[type="radio"]:checked+.toolbar-item > *:not(.tag), #left > input[type="checkbox"]:checked+.toolbar-item > *:not(.tag) {
    filter: brightness(0) invert(1);
}
.toolbar-item > .i {
    width: 24px;
    height: 24px;

    background-size: 24px;
}

#button-zoom-reset > p {
    color: var(--c-main-font);
    text-align: center;
    font-weight: 300;
}

#middle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    flex: 1;
    width: 100%;
    height: 100%;
}

#map-area {
    display: flex;
    position: relative;
    left: 0;
    top: 0;

    flex: 1;
    width: 100vw;
    height: 100vh;
}
#map-area * {
    overflow: visible;
}

#map {
    width: inherit;
    height: inherit;

    transform: scale(0.05);
}

#map-layer-position {
    display: flex;
    position: relative;

    width: 100vw;
    height: 100vh;
}

#map-layer-scale {
    display: flex;
    position: relative;

    width: 100vw;
    height: 100vh;
}

.map-shape {
    cursor: crosshair;

    animation-duration: 2.5s;
    animation-timing-function: linear;
}
.map-shape:hover {
    filter: brightness(0.9);
}

#viewport-bottom-menu-area {
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: flex-end;
    left: 0;
    bottom: 0;

    width: max-content;
    height: max-content;

    pointer-events: none;
}
#viewport-bottom-menu-area > .menu {
    border-top: solid 1px var(--c-main-border);
    border-right: solid 1px var(--c-main-border);
}

#viewport-top-menu-area {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-end;
    right: 0;
    top: 0;

    width: max-content;
    height: max-content;

    pointer-events: none;
}
#viewport-top-menu-area > .menu {
    border-bottom: solid 1px var(--c-main-border);
    border-left: solid 1px var(--c-main-border);
}

.menu {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: max-content;
    height: 392px;

    color: var(--c-main-font);
    background-color: var(--c-main);
    pointer-events: all;
}
.menu > *:not(:last-child) {
    border-bottom: solid 1px var(--c-main-border);
}
:not(#viewport-top-menu-area) > .menu:not(#map-config) > *:last-child {
    border-bottom: solid 1px var(--c-main-border);
}
.menu > h1 {
    padding: 6px;

    width: 100%;

    font-family: "Spoqa Han Sans";
    font-weight: 300;
}
.menu > p {
    padding: 10px 10px 3px 10px;

    width: 100%;
}

#export, #import, #download {
    width: 350px;
}
#export > .buttons, #import > .buttons {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px;

    width: 100%;
    
    background-color: var(--c-main);
}

#export-code-preview {
    padding: 10px;
    overflow-y: scroll;

    flex: 1;
    width: 100%;
    height: 100%;

    word-break:break-all;
    background-color: var(--c-main);
    user-select: text;
}

#textarea-import-code {
    padding: 10px;
    overflow-y: scroll;

    flex: 1;
    width: 100%;
    height: 100%;

    font-family: inherit;
    color: var(--c-main-font);
    border: 0;
    border-bottom: solid 1px var(--c-main-border);
    outline: none;
    background-color: var(--c-main);
}

#download > div {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;

    width: 100%;
    height: max-content;

    background-color: var(--c-main);
}

.colorpicker-preview {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;

    width: 342px;
    height: max-content;
}
.colorpicker-preview > p {
    padding: 6px;

    border: solid 1px var(--c-main-border);
    background-color: var(--c-main);
    user-select: text;
}

.colorpicker-bar-area {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    
    width: 342px;
    height: max-content;
}
.colorpicker-bar-area > .left {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 30px;

    border-right: solid 1px var(--c-main-border);
}
.colorpicker-bar-area > .center {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
    width: 262px;
}
.colorpicker-bar-area > .right {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    
    width: 50px;

    border-left: solid 1px var(--c-main-border);
}
.colorpicker-bar-area > .left > p {
    width: 30px;
    height: 31px;
    line-height: 31px;

    text-align: center;
}
.colorpicker-bar-content > *:not(:last-child) {
    border-bottom: solid 1px var(--c-main-border);
}

.colorpicker-input {
    width: 100%;
    height: 31px;
    padding: 6px;

    font-family: "Spoqa Han Sans Neo";
    color: var(--c-main-font);
    border: none;
    background-color: var(--c-main);
}
.colorpicker-input::placeholder {
    color: var(--c-gray);
    font-style: italic;
    opacity: 1;
}
.colorpicker-input, .colorpicker-input:focus {
    outline: none;
}

.colorpicker-bar {
    position: relative;

    width: 262px;
    height: 31px;
}
.gradient-r {
    background-image: linear-gradient(90deg, black, rgb(255, 0, 0));
}
.gradient-g {
    background-image: linear-gradient(90deg, black, rgb(0, 255, 0));
}
.gradient-b {
    background-image: linear-gradient(90deg, black, rgb(0, 0, 255));
}
.colorpicker-cursor {
    position: absolute;
    margin: 1px;

    width: 5px;
    height: 28px;

    content: "";
    border: solid 1px var(--c-black);
    outline: solid 1px var(--c-white);
    cursor: e-resize;
}

.colorpicker-template {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 33px;
}
.colorpicker-template > div {
    flex: 1;
    width: 100%;
    height: 100%;

    cursor: pointer;
}
.colorpicker-template > div:not(:last-child) {
    border-right: solid 1px var(--c-main-border);
}

#map-config > div {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;

    width: max-content;
    height: max-content;
}
#map-config > div > .left {
    position: relative;
    overflow-y: scroll;

    width: 120px;
    height: 300px;

    border-right: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
#map-config > div > .left > input[type=radio] {
    display: none;
}
#map-config > div > .left > label {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    width: 100%;
    height: 40px;

    background-color: var(--c-main);
    cursor: pointer;
}
#map-config > div > .left > label:not(:last-child) {
    border-bottom: solid 1px var(--c-main-border);
}
#map-config > div > .left > label:hover {
    background-color: var(--c-lyra);
}
#map-config > div > .left > input[type=radio]:checked+label {
    color: var(--c-white);
    background-color: var(--c-lyra);
}
#map-config > div > .right {
    position: relative;
    overflow-y: scroll;

    width: 280px;
    height: 300px;

    background-color: var(--c-main);
}
#map-config > div > .right > div {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: max-content;

    border-bottom: solid 1px var(--c-main-border);
}
#map-config > div > .right > div > input[type=radio] {
    display: none;
}
#map-config > div > .right > div > label {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    width: 100%;
    height: 40px;

    background-color: var(--c-main);
    cursor: pointer;
}
#map-config > div > .right > div > label:hover {
    background-color: var(--c-lyra);
}
#map-config > div > .right > div > input[type=radio]:checked+label {
    color: var(--c-white);
    background-color: var(--c-lyra);
}
#map-config > div > .right > div > label:not(:last-child) {
    border-bottom: solid 1px var(--c-main-border);
}

#map-preset > div {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;

    width: 100%;
    height: max-content;

    background-color: var(--c-main);
}
.menu button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;

    color: var(--c-main-font);
    border: 0;
    border-bottom: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
.menu button:hover {
    color: var(--c-white);
    background-color: var(--c-lyra);
}
.menu button:hover > * {
    filter: brightness(0) invert(1);
}
.menu button:not(:last-child) {
    margin-right: 6px;
}
.menu button > .i {
    margin-right: 6px;
}

#modal-area {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 100;

    height: 100%;

    color: var(--c-main-font);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    width: 100vw;
    height: max-content;

    border-top: solid 1px var(--c-main-border);
    border-bottom: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
.modal > div {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    max-width: 800px;
    min-height: 300px;
    width: 100%;
}

.modal-button-area {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;

    width: 100%;
}
.modal-button-area > button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 14px;

    color: var(--c-main-font);
    border: 0;
    border-bottom: solid 1px var(--c-main-border);
    background-color: var(--c-main);
}
.modal-button-area > button:not(:disabled):hover {
    background-color: var(--c-lyra);
}
.modal-button-area > button:not(:disabled):hover > * {
    filter: brightness(0) invert(1);
}
.modal-button-area > button > .i {
    margin-right: 14px;
}
.modal-button-area > button:not(:last-child) {
    margin-right: 14px;
}

#modal-about img {
    max-width: 100%;
    max-height: 100%;
}