@charset "UTF-8";
:root {
    --c-white: rgb(255, 255, 255);
    --c-black: rgb(0, 0, 0);
    --c-gray: rgb(140, 140, 140);
    --c-lyra: rgb(177, 0, 255);
    --c-main: var(--c-white);
    --c-main-border: var(--c-black);
    --c-main-font: var(--c-black);
    --c-icon-filter: brightness(0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-main: var(--c-black);
        --c-main-border: var(--c-white);
        --c-main-font: var(--c-white);
        --c-icon-filter: brightness(0) invert(1);
    }
}