@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    box-sizing: border-box;

    font-size: 14px;
    user-select: none;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    font-family: "Spoqa Han Sans Neo";
    background-color: var(--c-main);
}

h1, h2, h3, h4, h5, h6, span, p {
    color: var(--c-main-cont);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Spoqa Han Sans Neo Bold";
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

p, a, span {
    font-family: "Spoqa Han Sans Neo";
}

.wrap {
    max-width: 1400px;
    width: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.i {
    width: 20px;
    height: 20px;

    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    filter: var(--c-icon-filter);
}

.i-search { background-image: url("../assets/icons/1-search.svg"); }
.i-search-go { background-image: url("../assets/icons/2-search-go.svg"); }
.i-place { background-image: url("../assets/icons/3-place.svg"); }
.i-download { background-image: url("../assets/icons/4-download.svg"); }
.i-export { background-image: url("../assets/icons/5-export.svg"); }
.i-import { background-image: url("../assets/icons/6-import.svg"); }
.i-trash { background-image: url("../assets/icons/7-trash.svg"); }
.i-move { background-image: url("../assets/icons/8-move.svg"); }
.i-paint { background-image: url("../assets/icons/9-paint.svg"); }
.i-sweep { background-image: url("../assets/icons/10-sweep.svg"); }
.i-clear { background-image: url("../assets/icons/11-clear.svg"); }
.i-palette-item { background-image: url("../assets/icons/12-palette-item.svg"); }
.i-palette-background { background-image: url("../assets/icons/13-palette-background.svg"); }
.i-config { background-image: url("../assets/icons/14-config.svg"); }
.i-preset { background-image: url("../assets/icons/15-preset.svg"); }
.i-menu { background-image: url("../assets/icons/16-menu.svg"); }
.i-deny { background-image: url("../assets/icons/17-deny.svg"); }
.i-accept { background-image: url("../assets/icons/18-accept.svg"); }
.i-arrow0 { background-image: url("../assets/icons/19-arrow0.svg"); }
.i-arrow1 { background-image: url("../assets/icons/20-arrow1.svg"); }
.i-arrow2 { background-image: url("../assets/icons/21-arrow2.svg"); }
.i-arrow3 { background-image: url("../assets/icons/22-arrow3.svg"); }
.i-plus { background-image: url("../assets/icons/23-plus.svg"); }
.i-minus { background-image: url("../assets/icons/24-minus.svg"); }
.i-undo { background-image: url("../assets/icons/25-undo.svg"); }
.i-redo { background-image: url("../assets/icons/26-redo.svg"); }

.void {
    position: relative;

    flex: 1;
    width: 100%;
    height: 100%;
}

#watermark {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 6px;
    z-index: 9999;

    color: white;
    border-radius: 4px;
    background-color: black;
    text-align: right;
    opacity: 1;
    pointer-events: none;
}